
* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e1a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background: var(--body-color);
  color: var(--text-color);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--container-color);
  padding: 8px 14px;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.logo span {
  color: var(--main-color);
}

.search-box {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 8px 15px;
  background: var(--container-color);
  border-radius: 4rem;
  margin-right: 1rem;
}

#search-input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}

.user {
  display: block;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 2.1rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
}

.nav-link:hover,
.nav-active {
  color: var(--text-color);
  
  transition: 0.3s all linear;
  transform: scale(1.1);
}

.nav-link-title {
  font-size: 0.7rem;
}

section {
  padding: 1rem 0 2rem;
}

/* film sliders */

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--container-color);
  padding: 8px 14px;
  border: 1px solid hsl(200, 100%, 99% / 5);
}

.heading-title {
  font-size: 1.2rem;
  font-weight: 500;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

@media (max-width: 1270px) {
  .navbar {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    transform: translateY(0);
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1px;
    padding: 10px;
    border-top: 1px solid hsl(200, 100%, 99% / 5%);
    background: linear-gradient(
      8deg,
      hsl(240, 17%, 14% / 100%) 5%,
      hsl(240, 17%, 14% / 90%) 100%
    );
  }
  .navLink .bx {
    font-size: 1.5rem;
  }
}

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
}

@media (max-width: 991px) {
  .movie-box {
    height: 340px;
  }
  .movies-content {
    grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  }
}

@media (max-width: 888px) {
  .nav {
    padding: 14px 0;
  }
  .home {
    min-height: 440px;
    margin-top: 4rem !important;
  }
  .home-text {
    min-height: 25px;
  }
  .home-title {
    font-size: 1.6rem;
  }
  .watch-btn span {
    font-size: 0.9rem;
  }
  .movie-title {
    font-size: 1rem;
    padding-right: 30px;
  }
}

@media (max-width: 768) {
  .nav {
    padding: 11px 0;
  }
  .logo {
    font-size: 1.2rem;
  }
  .section {
    padding: 2rem 0;
  }

  .home-img {
    object-position: left;
  }
  .tag span,
  .about-movie p {
    font-size: 0.875rem;
  }
}

@media (max-width: 514px) {
  .home {
    min-height: 380px;
  }
  .heading{
    padding: 2px 14px;
  }
  .heading-title{
    font-size: 1rem;
  }
}

@media (max-width: 408px) {
  *{
    scroll-padding-top: 5rem;
  }
  .nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }
  .search-box{
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .home{
    min-height: 440px;
    margin-top: 7rem, !important;
    
  }
}


.main-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.main-links li {
  padding: 0.5rem 1rem;
}

a.log:link  {
    width: 100%;
    height: 100%;
    background-color:var(--main-color);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}
a.reg:link  {
  
    width: 100%;
    height: 100%;
    background-color:var(--main-color);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}
.dropdownProfile{
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 120px;
  padding:15px;
  opacity: 0;
  border-radius: 8px;
  display: none;
  background-color:#2d2e37;
}
.dropdownProfile::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  padding:20px;
  right: 20%;
  display: none;
  background-color:#2d2e37;
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: var(--main-color);
  background-color: var(--main-color);
}











/* ======================= */

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 120px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: var(--main-color)
} 




#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}

.goTopHidden{
  display: none;
}

.goTop{
  display: block;
}

.goTop__text{
  position: fixed;
  background: var(--main-color);
  box-shadow: 2px 2px 5px var(--hover-color);
  width: 30px;
  height: 30px;
  border-radius: 25px;
  bottom: 5%;
  left: 90%;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
.goTop__text:hover{
  transform: scale(1.1);
}





