:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e1a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
.play_container_top {
  position: relative;
  margin-top: 5rem !important;
}
.play_container_bot {
  position: relative;
  margin-top: 2rem !important;
}
.play_container_2 {
  position: relative;
  margin-top: 1rem !important;
}
.play_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.play_text {
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14% / 74%) 14%,
    hsl(240 17% 14% / 14%) 44%
  );
}
.play_text_series {
  margin-top: 10%;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14% / 74%) 14%,
    hsl(240 17% 14% / 14%) 44%
  );
}
.play_text h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.text_titles {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffb43a;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: 1.1rem;
  color: var(--main-color);
}
.container_no {
  padding-top: 5%;
  padding-left: 3%;
  display: flex;
  align-items: center;
}

.container_no img {
  max-width: 450px;
  max-height: 300px;
}
.video_source {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: -1;
}

.video_source video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn_cerrar_trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: transparent;
  cursor: pointer;
}
.btn_cerrar_horaris {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: transparent;
  cursor: pointer;
}
.btn_cerrar_season {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: transparent;
  cursor: pointer;
}
.providers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.provider_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.provider_list img {
  max-width: 100%;
  border-radius: 10px;
}

.provider_list p {
  margin-top: 10px;
  text-align: center;
}

.providers h3 {
  margin-bottom: 10px;
}
.providers {
  margin-top: 20px;
}

.providers h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.providers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.providers_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.providers_container > div:last-child {
  margin-right: 0;
}

.providers_container img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.providers_container p {
  font-size: 14px;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  flex: 1;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.sub_buttons {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sub_button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.season {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.season_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.season_container > div {
  margin: 10px;
  position: relative;
  margin-bottom: 30px;
}

.season_content_container {
  margin-top: 20%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  color: #fff;
  z-index: 99;
}

.season_details_container {
  margin-bottom: 20px;
}

.season_details_container h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

.season_details_container p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .season_content_container {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  .play_container {
    margin-top: 10px;
  }
  .play_container_2 {
    padding-top: 10px;
  }
}
@media (max-width: 700px) {
  .play_container {
    margin-top: 300px;
  }
  .play_container_2 {
    padding-top: 30px;
  }
  .play_container_top {
    position: relative;
    margin-top: 10rem !important;
  }
  .play_text_series {
    margin-top: 10%;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(
      8deg,
      hsl(240 17% 14% / 74%) 14%,
      hsl(240 17% 14% / 14%) 44%
    );
  }
}
@media (max-width: 410px) {
  .container_no {
    padding-top: 150px;
  }
  .play_container_2 {
    padding-top: 10px;
  }
}

.h1 {
  text-align: center;
  font-size: 30px;
}

.map_container {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.progress {
  height: 35px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e6f3fa;
  margin-bottom: 15px;
}

.progress_bar {
  height: 100%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  transition: width 0 0.25s;
  border-radius: 5px;
}

.progress_bar_text {
  margin-left: 10px;
  font-weight: bold;
  color: #000000;
}

.trailer_text {
  color: var(--main-color);
}

/* Estilos adicionales para diferenciar cada elemento mapeado */
.providers_container > div {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.providers_container h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

.provincia_text {
  text-align: center;
  color: var(--main-color);
}
.cinename {
  margin-top: 1%;
  background-color: var(--container-color);
  border-radius: 10px;
  padding: 2px;
  color: #ffffff;
}
.cinename2 {
  background-color: var(--container-color);
  border-radius: 10px;
  color: #ffffff;
  width: 1000px;
  height: 40px;
}

@media (max-width: 900px) {
  .cinename2 {
    width: 300px;
    max-width: none;
  }
}
@media (max-width: 768px) {
  .cinename2 {
    width: 300px;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .cinename2 {
    width: 150px;
    height: 30px;
  }
}
.provincia_text_global {
  font-size: 1.5rem;
}
.posterseason {
  padding-top: 1%;
  padding-left: 1%;
  max-width: 300;
  height: auto;
  margin-right: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}

.text-container {
  flex-grow: 1;
  width: 100%;
}

.text-container h1,
.text-container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text_info {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
}
