.profile {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  background-color: var(--container-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  margin-top: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.frame {
  display: flex;
  position: absolute;
  top: 50%;
  left: 20%;
  display: flex;
  width: 1000px;
  height: 800px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: var(--main-color);
  background: -webkit-linear-gradient(
    bottom left,
    var(--main-color) 100%,
    var(--main-color) 100%
  );
  background: -moz-linear-gradient(
    bottom left,
    var(--main-color) 100%,
    var(--main-color) 100%
  );
  background: -o-linear-gradient(
    bottom left,
    var(--main-color) 100%,
    var(--main-color) 100%
  );
  background: linear-gradient(
    to top right,
    var(--main-color) 100%,
    var(--main-color) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEBE6C', endColorstr='#f1b246',GradientType=1);
  color: var(--text-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 780px;
  width: 980px;
  background: var(--container-color);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}
.profile {
  float: left;
  width: 360px;
  height: 320px;
  text-align: center;
}
.profile .image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 25px auto 0 auto;
}
.profile .image .circle1,
.profile .image .circle2 {
  position: absolute;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-color) var(--main-color) var(--main-color)
    transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: var(--main-color) transparent var(--main-color)
    var(--main-color);
}
.profile .image img {
  display: block;
  border-radius: 50%;
  background: #ede5df;
}
.profile .image:hover {
  cursor: pointer;
}
.profile .image:hover .circle1,
.profile .image:hover .image .circle2,
.profile .image .image:hover .circle2 {
  transform: rotate(360deg);
}
.profile .image:hover .circle2 {
  transform: rotate(-360deg);
}
.profile .name {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.profile .job {
  font-size: 11px;
  line-height: 15px;
}
.profile .actions {
  margin-top: 33px;
}
.profile .actions .btn {
  display: block;
  width: 120px;
  height: 30px;
  margin: 0 auto 10px auto;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: var(--text-color);
}
.profile .actions .btn:hover {
  background: #afaca9;
  color: #fff;
}
.stats {
  float: left;
}
.stats .box {
  box-sizing: border-box;
  width: 120px;
  height: 99px;
  background: #444444;
  text-align: center;
  padding-top: 28px;
  transition: all 0.4s ease-in-out;
}
.stats .box:hover {
  background: #e1cfc2;
  cursor: pointer;
}
.stats .box:nth-child(2) {
  margin: 1px 0;
}
.stats span {
  display: block;
}
.stats .value {
  font-size: 18px;
  font-weight: 600;
}
.stats .parameter {
  font-size: 11px;
}
