.searchBox {
  max-width: 540px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 5px 50px;
  background: var(--container-color);
  border-radius: 4rem;
  margin-right: 1.2rem;
}

.bx {
  cursor: pointer;
}

.searchBox .bx {
  font-size: 1.5rem;
}
.searchBox .bx:hover {
  color: var(--main-color);
}

#searchInput {
  padding-left: 85px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}
